.infoCard {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  min-width: 264px;
  padding: 1rem;
  
  p {
    padding-top: 0.5rem;
  }
}

.infoCardHoverable {
  cursor: pointer;
  &:hover {
    background-color: hsl(0, 0%, 60%)  
  }
}

.infoCardSelectable {
  background-color: hsl(0, 0%, 75%)
}