.locationItem {
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  
  p {
    padding-top: 0.5rem;
  }
}

.locationItemName {
  font-size: 1rem;
}

.locationItemSelected {
  composes: locationItem;
}

.locationItemAddress {
  padding-top: 0.5rem;
}

// actionContainer

.actionContainer {
  padding-top: 1rem;
}

.actionContainerAction {
  padding-right: 1rem;
}