/*
 don't really know how much i like
 using css modules but if you want
 to see me using 'real' css then
 there's lots of professional
 examples of that!!
*/

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}