.container {
  position: absolute;
  top: clamp(100px, calc(100% / 5), 300px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 50px;
}

.contentContainer {
  flex-basis: 1100px;
}

.header {
  font-size: 56px; /* gonna change this later */
  margin: 30px 0;
  text-align: center;
}

.searchBoxContainer {
  margin: auto;
}