.overlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 300px;
  padding: 1rem;
  position: absolute;
  top: 0;
  z-index: 9999;
}
.overlayLeft {
	composes: overlay;
	left: 0;
}

.overlayRight {
	composes: overlay;
	right: 0;
}	